* {
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #AFAFAF;
    padding: 10px 20px; 
}

header img {
    height: 3em;
}